/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  font-size: 1.2rem;
  padding: 30px 0;
  line-height: 1.8rem;
}

.container-large {
  width: 98%;
  max-width: 1100px;
  margin: 0 auto;
}

.container-small {
  width: 98%;
  max-width: 760px;
  margin: 0 auto;
}

/* HEADER */
header {
  background-color: #255ee9;
  padding: 20px 0;
}

header .container-large {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 35px;
}

header nav {
  padding: 10px;
  font-size: 0.9rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  margin: 0 20px;
}

/* HERO  */
.hero {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;
  padding-top: 90px;
  padding-bottom: 140px;
}

.hero .container-small {
  text-align: center;
  color: #ffffff;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-container .btn-big {
  margin: 0 10px;
}

/* MAIN */
.section-odd {
  background-color: #ffffff;
}

.section-even {
  background-color: #f6f6f6;
}

#section-study-group,
#section-voice-channel,
#section-community,
#section-technology {
  padding: 100px 0;
}

#section-study-group .container-large,
#section-voice-channel .container-large,
#section-community .container-large {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

#section-technology .container-large {
  text-align: center;
}

#section-technology .container-large h2,
#section-technology .container-large p {
  width: 90%;
  margin: 0 auto;
}

.section-image {
  width: 60%;
}

.section-text {
  width: 30%;
}

#section-technology #big-img {
  width: 100%;
}

#section-technology h3 {
  background-image: url(../img/stars.svg);
  background-position: top;
  background-repeat: no-repeat;
  padding: 40px 0;
}

/* FOOTER */
footer {
  background-color: #23272a;
  color: #ffffff;
  font-size: 0.9rem;
}

.upper-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 30px;
  border-bottom: 1px solid #7289db;
}

.upper-footer-left {
  width: 20%;
}

.upper-footer-right {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.footer-right-column .column-title {
  color: #7289db;
  font-weight: bold;
}

.footer-right-column li {
  margin: 8px 0;
}

.lower-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 80px;
}

.upper-footer h3 {
  color: #7289db;
}

.upper-footer #language {
  margin: 20px 0;
}

.upper-footer #flag-icon {
  height: 15px;
  line-height: 0.9rem;
  vertical-align: middle;
}

.upper-footer #social i {
  padding-right: 15px;
  font-size: 1rem;
}

/* BUTTON & ICONS*/
.btn {
  font-family: inherit;
  background-color: #ffffff;
  color: #23272a;
  border-radius: 100px;
  border: none;
}

.btn:hover {
  box-shadow: 5px 5px 5px 0.8px rgb(0, 0, 0, 0.3);
  font-weight: bold;
}

.btn.btn-small {
  font-size: 0.8rem;
  padding: 8px 12px;
}

.btn.btn-big {
  font-size: 1.1rem;
  padding: 16px 24px;
}

.btn.btn-black {
  background-color: #23272a;
  color: #ffffff;
}

.btn.btn-purple {
  background-color: #8ea1e1;
  color: #ffffff;
}

.btn.btn-big i {
  font-size: 0.8rem;
  margin-right: 8px;
}

/* WAVE */
.wave {
  transform: translateY(20px);
}

.wave-rotated {
  transform: rotate(180deg);
}
